tensorflow>=2.8.0     # Hoặc phiên bản bạn đang dùng (ví dụ: tensorflow==2.10.0)
librosa>=0.9.0        # Hoặc phiên bản bạn đang dùng
numpy>=1.21.0
scikit-learn>=1.0.0   # Cho LabelEncoder, StandardScaler, train_test_split, metrics
matplotlib>=3.5.0
seaborn>=0.11.0
PyYAML>=5.0           # Nếu bạn quyết định dùng YAML cho config
moviepy            # Nếu bạn dùng để trích xuất audio từ video
opencv-python      # Nếu bạn dùng để xử lý video/ảnh
moviepy
ultralytics